@page "/passwords"
@using System.Linq.Expressions
@using static Shared.Models.ServiceResponses
@attribute [Authorize]

@*

clear nuget cache if not getting the latest version:
- cd Client && dotnet nuget locals all --clear && dotnet remove package HandyBlazorComponents ; dotnet add package
HandyBlazorComponents && cd ..



TODO: add validation checks for what columns are editable
TODO: handle case when you're adding empty rows or rows with missing values
*@

@if (PasswordAccountLst is null)
{
    <div class="d-flex justify-content-center">
    <div id="loadingIndicator" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
}
else
{
    <CascadingValue Name="ValidationChecks" Value="ValidationChecks" IsFixed="true">
    <CascadingValue Name="EditModeFragments" Value="EditModeFragments" IsFixed="true">
        <CascadingValue Name="ReadonlyColumns" Value="ReadonlyColumns" IsFixed="true">
            <CascadingValue Name="SubmitFileAction" Value="SubmitFileAction" IsFixed="true">
                <CascadingValue Name="ExampleFileUploadUrl" Value="@("templates/example.csv")" IsFixed="true">
                    <DynamicHandyGrid @ref="dynamicHandyGrid" TItem="PasswordAccountDTO" Items="PasswordAccountLst"
                        OnCreate="OnCreate" OnUpdate="OnUpdate" OnDelete="OnDelete"
                        ViewModeFragments="ViewModeFragments" />
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>
}

<NotificationModal @ref="notificationModal" />
<ConfirmModal @ref="confirmModal" Title="Warning"
    BodyText="Are you sure you want to delete this record? THIS ACTION IS IRREVERSIBLE!" />


@code {
    private HttpClient httpClient { get; set; }
    private int userId { get; set; }
    private DynamicHandyGrid<PasswordAccountDTO> dynamicHandyGrid = default!;
    private ConfirmModal confirmModal { get; set; }
    private NotificationModal notificationModal { get; set; }

    private List<PasswordAccountDTO> PasswordAccountLst { get; set; }
    private List<string> ReadonlyColumns = ["Id", "UserId", "CreatedAt", "LastUpdatedAt"];

    protected override async Task OnInitializedAsync()
    {
        httpClient = httpClientFactory.CreateClient(Constants.HTTP_CLIENT);
        PasswordAccountLst = (await
        httpClient.GetFromJsonAsync<IEnumerable<PasswordAccountDTO>>("api/PasswordManager/passwords")).Select(p => new
        PasswordAccountDTO
            {
                Title = p.Title,
                Id = p.Id,
                UserId = p.UserId,
                Username = p.Username,
                Password = p.Password,
                CreatedAt = p.CreatedAt,
                LastUpdatedAt = p.LastUpdatedAt,
            }).ToList();

        var authState = await ((ApiAuthenticationStateProvider)AuthenticationStateProvider).GetAuthenticationStateAsync();
        var user = authState.User;

        userId = Convert.ToInt32(user.Claims.First(c => c.Type == ClaimTypes.NameIdentifier).Value);
    }

    private async Task SubmitFileAction(MultipartFormDataContent content)
    {
        var response = await httpClient.PostAsync("/api/PasswordManager/upload-csv", content);
        var responseContent = await response.Content.ReadFromJsonAsync<GeneralResponse>();
        if (!responseContent.Flag)
        {
            await notificationModal.ShowAsync("Error", responseContent.Message, ModalType.ERROR);
        }
        else
        {
            await notificationModal.ShowAsync("Success", responseContent.Message, ModalType.SUCCESS);
        }
    }

    private async Task OnCreate(List<PasswordAccountDTO> items)
    {
        items.ForEach(i => Console.WriteLine($"{i.Title}, {i.Username}, {i.Password}"));
        items = items.Where(item => !string.IsNullOrWhiteSpace(item.Title) && !string.IsNullOrWhiteSpace(item.Username) &&
        !string.IsNullOrWhiteSpace(item.Password)).ToList();
        for (var i = 0; i < items.Count; i++)
        {
            items[i].Id = PasswordAccountLst.Max(x => x.Id) + 1;
            items[i].UserId = userId;
            items[i].CreatedAt = DateTime.Now;
            items[i].LastUpdatedAt = DateTime.Now;
        }
        PasswordAccountLst.AddRange(items);
        // TODO: apply changes here to db in real-world scenario as well
        //var response = await httpClient.PostAsJsonAsync("api/PasswordManager/add-passwords",
        //JsonConvert.SerializeObject(items));
        //
        //var responseContent = await response.Content.ReadFromJsonAsync<GeneralResponse>();
        //
        //if (!responseContent.Flag)
        //{
        // await notificationModal.ShowAsync("Error", responseContent.Message, ModalType.ERROR);
        //}
        //else
        //{
        // await notificationModal.ShowAsync("Success", responseContent.Message, ModalType.SUCCESS);
        //}

    }

    private async Task OnDelete(PasswordAccountDTO item)
    {
        var confirm = await confirmModal.ShowAsync();
        if (confirm)
        {
            PasswordAccountLst = PasswordAccountLst.Where(o => o.Id != item.Id).ToList();
            // TODO: apply changes here to db in real-world scenario as well
            //var response = await httpClient.DeleteAsync($"api/PasswordManager/deletePassword/{item.Id}");
            //var responseContent = await response.Content.ReadFromJsonAsync<GeneralResponse>();
            //if (!responseContent.Flag)
            //{
            // await notificationModal.ShowAsync("Error", responseContent.Message, ModalType.ERROR);
            //}
            //else
            //{
            // await notificationModal.ShowAsync("Success", responseContent.Message, ModalType.SUCCESS);
            //}
        }
    }

    private async Task OnUpdate(PasswordAccountDTO item)
    {
        for (int i = 0; i < PasswordAccountLst.Count; i++)
        {
            if (PasswordAccountLst[i].Id == item.Id)
            {
                PasswordAccountLst[i].Title = item.Title;
                PasswordAccountLst[i].Username = item.Username;
                PasswordAccountLst[i].Password = item.Password;
                PasswordAccountLst[i].LastUpdatedAt = DateTime.Now;

                // TODO: apply changes here to db in real-world scenario as well

                //var response = await httpClient.PutAsJsonAsync("api/PasswordManager/update-password", PasswordAccountLst[i]);
                //var responseContent = await response.Content.ReadFromJsonAsync<GeneralResponse>();
                //if (!responseContent.Flag)
                //{
                // await notificationModal.ShowAsync("Error", responseContent.Message, ModalType.ERROR);
                //}
                //else
                //{
                // await notificationModal.ShowAsync("Success", responseContent.Message, ModalType.SUCCESS);
                //}

            }
        }
    }

    private Dictionary<string, RenderFragment<PasswordAccountDTO>> EditModeFragments => new()
    {
        {
        "Password",
        o => @<ObscureInput TItem="PasswordAccountDTO" ColumnName="Password" Item="o" Style="width: 12rem;" />
        },

    };

    private Dictionary<string, RenderFragment<PasswordAccountDTO>> ViewModeFragments => new()
    {
        {
        "Password",
        o => @<span>@(new string('*', o.Password.Length))</span>
        },
    };

    private Func<PasswordAccountDTO, GridValidationResponse> ValidationChecks =>
        o =>
        {
            var columns = typeof(PasswordAccountDTO).GetProperties().Select(prop => prop.Name).Except(ReadonlyColumns).ToList();
            Dictionary<int,List<string>> errorMessagesDict = new();

            int titleIndex = columns.IndexOf(nameof(o.Title));
            int userNameIndex = columns.IndexOf(nameof(o.Username));
            int passwordIndex = columns.IndexOf(nameof(o.Password));

            //Console.WriteLine($"{titleIndex},{userNameIndex},{passwordIndex}");

            if (string.IsNullOrWhiteSpace(o.Title))
            {
                if (errorMessagesDict.ContainsKey(titleIndex))
                {
                    errorMessagesDict[titleIndex].Add($"Please fill out {nameof(o.Title)}");
                }
                else
                {
                    errorMessagesDict.Add(titleIndex, [$"Please fill out {nameof(o.Title)}"]);
                }
            }
            if (string.IsNullOrWhiteSpace(o.Username))
            {
                if (errorMessagesDict.ContainsKey(userNameIndex))
                {
                    errorMessagesDict[userNameIndex].Add($"Please fill out {nameof(o.Username)}");
                }
                else
                {
                    errorMessagesDict.Add(userNameIndex, [$"Please fill out {nameof(o.Username)}"]);
                }
            }
            if (string.IsNullOrWhiteSpace(o.Password))
            {
                if (errorMessagesDict.ContainsKey(passwordIndex))
                {
                    errorMessagesDict[passwordIndex].Add($"Please fill out {nameof(o.Password)}");
                }
                else
                {
                    errorMessagesDict.Add(passwordIndex, [$"Please fill out {nameof(o.Password)}"]);
                }
            }

            if (!string.IsNullOrWhiteSpace(o.Title) && o.Title?.Length > 256)
            {
                if (errorMessagesDict.ContainsKey(titleIndex))
                {
                    errorMessagesDict[titleIndex].Add("Please make sure all fields are under 256 characters");
                }
                else
                {
                    errorMessagesDict.Add(titleIndex, ["Please make sure all fields are under 256 characters"]);
                }
            }
            if (!string.IsNullOrWhiteSpace(o.Username) && o.Username?.Length > 256)
            {
                if (errorMessagesDict.ContainsKey(userNameIndex))
                {
                    errorMessagesDict[userNameIndex].Add("Please make sure all fields are under 256 characters");
                }                
                else
                {
                    errorMessagesDict.Add(userNameIndex, ["Please make sure all fields are under 256 characters"]);
                }            
            }
            if (!string.IsNullOrWhiteSpace(o.Password) && o.Password?.Length > 256)
            {
                if (errorMessagesDict.ContainsKey(passwordIndex))
                    errorMessagesDict[passwordIndex].Add("Please make sure all fields are under 256 characters");
                else
                    errorMessagesDict.Add(passwordIndex, ["Please make sure all fields are under 256 characters"]);
            }

            //Console.WriteLine($"{titleIndex},{userNameIndex},{passwordIndex}");


            if (errorMessagesDict.Any())
            {
                Console.WriteLine("hi");
                return new GridValidationResponse(Flag: false, errorMessagesDict);
            }

            return new GridValidationResponse(Flag: true, null);
        };
}
