@code {
    private bool isVisible = false;
    private TaskCompletionSource<List<PasswordAccountDTO>> taskCompletionSource = default!;
    private List<PasswordAccountDTO> PasswordsToAdd {get;set;} = new();
 
    [Parameter] public string Title { get; set; } = "Passwords To Add";
    [Parameter] public int UserId {get;set;}

    private void AddPassword()
    {
        PasswordsToAdd.Add(new PasswordAccountDTO());
    }
 
    private void RemovePassword(PasswordAccountDTO passwordAccountDTO)
    {
        PasswordsToAdd.Remove(passwordAccountDTO);
    }
 
    public Task<List<PasswordAccountDTO>> ShowAsync()
    {
        isVisible = true;
        taskCompletionSource = new TaskCompletionSource<List<PasswordAccountDTO>>();
        StateHasChanged();
        return taskCompletionSource.Task;
    }
 
    private void ConfirmChanges()
    {
        isVisible = false;
        // filter out rows that haven't been filled out
        PasswordsToAdd = PasswordsToAdd.Where(p=> p.Title is not null && p.Username is not null && p.Password is not null).Select(p=>new PasswordAccountDTO {
            UserId = UserId,
            Title = p.Title,
            Username = p.Username,
            Password = p.Password,
            CreatedAt = DateTime.Now,
            LastUpdatedAt = DateTime.Now,
        }).ToList();
        taskCompletionSource?.SetResult(PasswordsToAdd);
        PasswordsToAdd.Clear();
        StateHasChanged();
    }
 
    private void Cancel()
    {
        isVisible = false;
        taskCompletionSource?.SetResult(new());
        StateHasChanged();
    }
}
 
@if (isVisible)
{
    <div class="modal fade show d-block" tabindex="-1" style="display: block; background: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@Title</h5>
                    <button type="button" class="btn-close" @onclick="Cancel"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Add Passwords to Your Collection
                    </p>
                    <div style="overflow: auto; hyphens: auto;" class="p-1">
                        <button class="btn btn-primary mt-3 mb-3" @onclick="AddPassword">Add New Password Account</button>
                        @* TODO: be able add, remove, update password accounts *@
                        @if (PasswordsToAdd.Any())
                        {
                            <table class="table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Username
                                        </th>
                                        <th>
                                            Password
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < PasswordsToAdd.Count; i++)
                                    {
                                        @* need to set cur to i to avoid index out of bounds error *@
                                        int cur = i;
                                        <tr>
                                            <td>
                                                <input @bind="@PasswordsToAdd[cur].Title" class="form-control" placeholder="Title">
                                            </td>
                                            <td>
                                                <input @bind="@PasswordsToAdd[cur].Username" class="form-control" placeholder="Username">
                                            </td>
                                            <td>
                                                <input @bind="@PasswordsToAdd[cur].Password" class="form-control" placeholder="Password">
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger" @onclick="(() => RemovePassword(PasswordsToAdd[cur]))">Remove</button>
                                            </td>
                                        </tr>                
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
                    <button type="button" class="btn btn-primary" @onclick="ConfirmChanges">Confirm Changes</button>
                </div>
            </div>
        </div>
    </div>
}