@using Microsoft.AspNetCore.Components
 
<div class="col-3 m-3">
    <input type="text" class="form-control" @bind="@Value" @oninput="@OnInput" placeholder="@PlaceHolder" style="width: 15rem;" />
</div>
 
@code {
    [Parameter]
    public string Value { get; set; } = null!;
 
    [Parameter]
    public string PlaceHolder { get; set; } = "Filter by Value";
 
    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }
 
    private async Task OnInput(ChangeEventArgs e)
    {
        Value = e.Value?.ToString() ?? default!;
        await ValueChanged.InvokeAsync(Value);
    }
}